<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Bird Monitoring"
            id="com.example.bird">
      </category>
      <view
            name="Bird View"
            category="com.example.bird"
            class="com.example.bird.ui.BirdView"
            id="com.example.bird.ui.BirdView">
      </view>
   </extension>
</plugin>