<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.example.bird.ui.category"
            name="Bird Monitoring">
      </category>
      <view
            id="com.example.bird.ui.views.BirdView"
            name="Bird Monitoring View"
            category="com.example.bird.ui.category"
            class="com.example.bird.ui.BirdView">
      </view>
   </extension>
</plugin>